.upperGreyHeaderCompContainer {
  display: flex;
  min-height: 4.3rem;
  background-color: #f7f8fb;
  width: 100%;
  justify-content: center;
}

.leftSideContainer {
  display: flex;
  height: 100%;
  width: 15rem;
  /* background-color: lightgreen; */
  align-items: center;
}

.rightSideContainer {
  display: flex;
  height: 100%;
  width: 15rem;
  /* background-color: pink; */
  align-items: center;
  justify-content: flex-end;
}

.centeredInnerDataContainer {
  display: flex;
  height: 100%;
  width: 80%;
  /* background-color: orange; */
  justify-content: space-between;
}

.newButtonStyle {
  display: flex;
  height: 2.5rem;
  width: 6.4rem;
  outline-style: none;
  border-style: none;
  border: 1px solid #79589f;
  border-radius: 0.3rem;
  background-color: #f7f8fb;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #79589f;
  font-weight: bold;
  cursor: pointer;
}
