.projectHorizEntryCompContainer {
  display: flex;
  min-height: 6rem;
  /* background-color: green; */
  border-bottom: 1px solid #eef1f6;
  justify-content: space-between;
}

.leftSideContainer {
  display: flex;
  height: 100%;
  width: 20rem;
  /* background-color: orange; */
  align-items: center;
}

.rightSideContainer {
  display: flex;
  height: 100%;
  width: 30rem;
  /* background-color: red; */
  align-items: center;
  justify-content: flex-end;
}
